{% extends 'config.html' %}

{% load staticfiles %}

{% block title %}Investigadores | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}

{% endblock header %}

{% block breadcrumbs %} Agregar Investigadores {% endblock breadcrumbs %}

{% block titlepage %}Investigadores{% endblock titlepage %}

{% block description %}Agregar Investigador{% endblock description %}

{% block content %}
    <div class="row">
      <div class="col-xs-12">
        <form class="form-horizontal" name="form-nuevo-investigador" method="post">
          {% csrf_token %}
          <div class="form-group">
            <div class="col-xs-2 col-xs-offset-3">
              <label class="ace-file-input ace-file-multiple">
                <input type="file" id="boxImagen">
                <span class="ace-file-container" data-title="Imagen de Perfil">
                  <span class="ace-file-name" data-title="Vacio..">
                    <i class="ace-icon ace-icon fa fa-picture-o"></i>
                  </span>
                </span>
                <a href="#" class="remove">
                  <i class="ace-icon fa fa-times"></i>
                </a>
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="txtNombres" class="col-xs-3 control-label  no-padding-right">Nombres:</label>
            <div class="col-xs-9">
              <input type="text" id="txtNombres" name="txtNombres" class="col-xs-10 col-sm-5" placeholder="Nombres" required>
            </div>
          </div>

          <div class="form-group">
            <label for="txtApellidos" class="col-xs-3 control-label  no-padding-right">Apellidos:</label>
            <div class="col-xs-9">
              <input type="text" id="txtApellidos" name="txtApellidos" class="col-xs-10 col-sm-5" placeholder="Apellidos">
            </div>
          </div>

          <div class="form-group">
            <label for="txtFechaNac" class="col-xs-3 control-label  no-padding-right">Fecha de Nacimiento:</label>
            <div class="col-xs-9">
              <div class="input-medium">
                <div class="input-group">
                  <input type="text" id="txtFechaNac" name = "txtFechaNac" class="input-medium date-picker" date-format="dd-mm-yyyy" placeholder="dd-mm-yyyy">
                  <span class="input-group-addon">
                    <i class="ace-icon fa fa-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="txtCorreo" class="col-xs-3 control-label  no-padding-right">Correo:</label>
            <div class="col-xs-9">
              <span class="input-icon input-icon-right">
                <input type="email" id="txtCorreo" name="txtCorreo" class="input-large" placeholder="usuario@gmail.com">
                <i class="ace-icon fa fa-envelope"></i>
              </span>

            </div>
          </div>

          <div class="form-group">
            <label for="txtTelefono" class="col-xs-3 control-label  no-padding-right">Teléfono:</label>
            <div class="col-xs-9">
              <span class="input-icon input-icon-right">
                <input type="text" id="txtTelefono" name="txtTelefono" class="input-medium input-mask-phone">
                <i class="ace-icon fa fa-phone fa-flip-horizontal"></i>
              </span>

            </div>
          </div>

          <div class="form-group">
            <label for="txtDireccion" class="col-xs-3 control-label  no-padding-right">Dirección:</label>
            <div class="col-xs-9">
              <textarea id="txtDireccion" name="txtDireccion" class="col-xs-5"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label for="txtDepartamento" class="col-xs-3 control-label  no-padding-right">Departamento:</label>
            <div class="col-xs-9">
              <input type="text" id="txtDepartamento" name="txtDepartamento" class="col-xs-10 col-sm-5">
            </div>
          </div>

          <div class="form-group">
            <label for="txtFacebook" class="col-xs-3 control-label  no-padding-right">Facebook:</label>
            <div class="col-xs-9">
              <span class="input-icon">
                <input type="text" id="txtFacebook" name="txtFacebook">
                <i class="ace-icon fa fa-facebook blue"></i>
              </span>

            </div>
          </div>

          <div class="form-group">
            <label for="txtTwitter" class="col-xs-3 control-label  no-padding-right">Twitter:</label>
            <div class="col-xs-9">
              <span class="input-icon">
                <input type="text" id="txtTwitter" name="txtTwitter">
                <i class="ace-icon fa fa-twitter light-blue"></i>
              </span>

            </div>
          </div>

          <div class="form-group">
            <label for="txtGooglePlus" class="col-xs-3 control-label  no-padding-right">Google +:</label>
            <div class="col-xs-9">
              <span class="input-icon">
                <input type="text" id="txtGooglePlus" name="txtGooglePlus">
                <i class="ace-icon fa fa-google-plus red"></i>
              </span>

            </div>
          </div>

          <div class="form-group">
            <div class="clearfix form-actions">
              <div class="col-xs-offset-3 col-md-9">
                <button type="button" class="btn btn-success" id="btnGuardar">
                  <i class="ace-icon fa fa-check bigger-110"></i>
                  Guardar
                </button>

                <button type="reset" class="btn" id="btnGuardar">
                  <i class="ace-icon fa fa-undo bigger-110"></i>
                  Reiniciar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/sarec/investigator.js' %}"></script>
{% endblock script %}
