{% extends 'config.html' %}
{% load staticfiles %}

{% block title %}Perfiles | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}

{% endblock header %}

{% block breadcrumbs %} Cuentas de Usuario {% endblock breadcrumbs %}

{% block titlepage %}Usuarios{% endblock titlepage %}
{% block description %}Agregar &amp; Editar Usuarios{% endblock description %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="clearfix">
                <div class="pull-left alert alert-success no-margin">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <i class="ace-icon fa fa-umbrella bigger-120 blue"></i>
                    Haga clic en la imagen de abajo o en los campos de texto para cambiar los datos de la cuenta...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="hr dotted">
            </div>
            <form name="form-new-account" class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-16">
                        <li class="active">
                            <a data-toggle="tab" href="#edit-basic">
                                <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                                Información
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content profile-edit-tab-content">
                        <div id="edit-basic" class="tab-pane in active">
                            <h4 class="header blue bolder smaller">General</h4>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <label class="ace-file-input ace-file-multiple"><input type="file"><span class="ace-file-container" data-title="Cambiar Imagen"><span class="ace-file-name" data-title="No File ..."><i class=" ace-icon ace-icon fa fa-picture-o"></i></span></span><a class="remove" href="#"><i class=" ace-icon fa fa-times"></i></a></label>
                                </div>
                                <div class="vspace-12-sm"></div>
                                <div class="col-xs-12 col-sm-8">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-username">Nombre de Usuario</label>
                                        <div class="col-sm-8">
                                            <input class="col-xs-12 col-sm-10" type="text" id="form-field-username" name="username" placeholder="Username" value="">
                                        </div>
                                    </div>
                                    <div class="space-4"></div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-first">Nombre</label>
                                        <div class="col-sm-8">
                                            <input class="input-small" name="firstname" type="text" id="form-field-first" placeholder="First Name" value="">
                                            <input class="input-small" name="lastname" type="text" id="form-field-last" placeholder="Last Name" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-email">Email</label>
                                        <div class="col-sm-8">
                                            <span class="input-icon input-icon-right">
                                                <input type="email" name="email" id="form-field-email" value="" placeholder="Email">
                                                <i class="ace-icon fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="header blue bolder smaller">Perfil</h4>

                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right no-padding-top">Administrador</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div>
                                        <label>
                                            <input name="admin" type="checkbox" class="ace">
                                            <span class="lbl"> Si</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-3 no-padding-right no-padding-top">Activo</label>
                                <div class="col-xs-12 col-sm-9">
                                    <div>
                                        <label>
                                            <input name="active" type="checkbox" class="ace">
                                            <span class="lbl"> Si</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <h4 class="header blue bolder smaller">Contraseña</h4>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">Nueva Contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" name="newpassword" id="form-field-pass1" placeholder="Password">
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirmar Contraseña</label>
                                <div class="col-sm-9">
                                    <input type="password" name="confirmpassword" id="form-field-pass2" placeholder="Password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Guardar
                        </button>
                        &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reiniciar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/sarec/profile.js' %}"></script>
{% endblock script %}
