{% extends 'config.html' %}

{% load staticfiles %}

{% block title %}Investigadores | Dirección de Investigación | Universidad Nacional de Ingeniería{% endblock title %}

{% block header %}

{% endblock header %}

{% block breadcrumbs %} Agregar Investigadores {% endblock breadcrumbs %}

{% block titlepage %}Investigadores{% endblock titlepage %}

{% block description %}Agregar Investigador{% endblock description %}

{% block content %}
  
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/sarec/investigadores.js' %}"></script>
{% endblock script %}
